<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- JQuery -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- VueJS -->

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <title>Vue - intro</title>

  <link rel="stylesheet" href="master.css">

  <script src="script.js" charset="utf-8"></script>

</head>

<body>

  <div id="app" class="container">

    <div class="row title">



    <h1> {{ text }} </h1>






      <!-- <label>Nome</label>

      <input type="text" v-model="given_name">

      <br>

      <label>Cognome</label>

      <input type="text" v-model="lastname">

      <br>

      <label>Bg class</label>

      <input type="text" v-model="bgClasses">

      <br><br>

      <button @click="printMore">Aumenta Valore</button>

      <br><br>

      <p :class="bgClasses">

        {{ counter }}

      </p>

      <button @click="printLess">Diminuisci Valore</button> -->

    </div>

  </div>

</body>

</html>
